#checkout img {
    max-height: 146px;
  }
  #p {
    color: #8e8484;
    line-height: 20px;
  }
  #btn_order {
    color: #ffffff;
    background-color: #c37777;
    border: none;
    border-radius: 5px;
  }
  #quantity {
    border: none;
    background-color: #ffffff;
  }
  #btn_modi {
    background: #c37777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
  }
  